/* npx tailwindcss -i ./src/index.css -o ./src/output.css --watch */


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Share Tech Mono", monospace;;
}


body{
    background: linear-gradient(rgba(27, 16, 48, 0.7), rgba(40, 30, 58, 0.8)), url("../src/assets/background.jpg");
    height: 100vh;
    background-size: cover;
}

table {
  width: 100%;
  /* border: 2px solid rgba(27, 16, 48, 0.8);
  border: none; */
  border-collapse: collapse;
  
}

th,td{
  border: 3px solid rgba(27, 16, 48, 0.8);
  border-collapse: collapse;
  background-color: whitesmoke;
  color: black;
  text-align: left;
  padding-left: 10px;
}

td{
  height: 50px;


}

td:nth-child(3) {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  border: none;
}

.welcome-arrow{
  display: flex;
  place-items: center;
  gap:8px;
}


/* table, th, td {
    border: 2px solid rgba(27, 16, 48, 0.8),;
    /* border-collapse: collapse;
    color: gray; */
    
  
  /* th,td{
    background-color: whitesmoke;
    color: black;
    text-align: left;
    padding-left: 10px;
  } */


  /* td{
    padding-bottom: 30px;
  } */